.error{
	"color:red;"
}

.btn-space {
    margin-right: 30px;
}
textarea{
rows : 5;
cols :50; 	
}
.center{
	    text-align: center;
}


.nin{
   margin-bottom: 5px;
}

#textbox{
	margin-right: 50px;
}
